body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#index-main {
    max-width: 800px;
    margin: auto; 
    background-color: #EEE;
}

header, footer {
    background-color: #1F5673;
    color: white;
    padding: 8px;
    border-radius: 15px;
}

header h1 {
    font-size: 32px;
    padding-left: 95px;
}

main {
    padding: 0 15px;
}

main h2 {
    border-bottom: 1px solid black ;
}

footer a, footer a:link, footer a:visited, footer a:hover, footer a:active, footer a:focus {
    color: white;
}

footer a:hover {
    color: #DDD;
}

footer {
    text-align: center;
    clear: both;
}

footer .legal {
    margin-bottom: 9px;
    font-size: .9em;
}

footer .highlight {
    color: #D9D9D9;
    font-size: .8em;
    margin-top: 0;
}

.profile {
    float: right;
    border-radius: 15px;
    box-shadow: 0 0 17px black;
}
