html {
    background-color: white;
}
body {
    background-color: #F0F0F0; 
}

nav {
    margin: 0 auto;
    max-width: 360px;
    background-color: #F2D377;
}

#navigation {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: auto;
}

#navigation li:first-child{
    display: block;
}

#navigation li {
    display: none;
}

#navigation a:link, #navigation a:visited, #navigation a:hover, #navigation a:active, #navigation a:focus {
    display: block;
    padding: 1.2em;
    text-emphasis: left;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}

header {
    background-color: #F17547;
}

.site_name {
    display: grid;
    grid-template-columns: repeat(2, 130px 1fr);
}

.logo {
    margin-right: 10px;
    padding: 28px 0 10px 15px;
    width: 95px;
}

h1 {
    color: white;
}

h2 {
    text-align: center;
    color: #235B8C;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.5px;
}

.ham {
    align-items: center;
}

.forecast_img {
    margin-bottom: 25px;
    border-radius: 15px;
}

main {
    margin: 50px 25px 50px 25px;
}

main p {
    hyphens: auto;
    padding-bottom: 25px;
}

.five-forecast {
    padding: 25px;
    background-color:#F2D377;
    border-radius: 25px;
}

.article {
    margin: 55px;
}

#navigation a:hover {
    color: #235B8C;
    background-color: #F2D377;
    transform: scale(1.05);
    transition: transform .6s ease;
}

#navigation.responsive li {
    display: block;
}

footer {
    background-color:  #F17547;
    padding: 15px 25px 25px 25px;
    color: white;
}

.map_img {
    padding-top: 15px;
}

.social_media img {
    width: 15%;
    margin-left: 0 auto;

}

h3 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.5px;
}

@media only screen and (min-width: 34.5em){
    nav {
        max-width: 100%;
    }
    #navigation {
        grid-template-columns: repeat(5,auto);
    }
    #navigation li {
        display: block;
    }
    #navigation li a {
        text-align: center;
    }
    #navigation li:first-child {
        display: none;
    }
}

@media only screen and (min-width: 54.5em){
    #navigation {
        width: 800px;
        margin: 16px auto;
    }

    body{
        width: 1280px;
        margin: 0 auto;
    }

    h1 {
        font-size: 4em;
        margin-top: 65px;
        margin-left:80px;
        grid-column: 2/4;
    }

    h2 {
        font-size: 2em;
        margin-bottom: 50px;
    }

    .logo {
        width: 150px;
        padding-left:30px;
    }
    
    main p {
        font-size: 1.7em;
        margin: 0 100px 50px 100px;
    }

    main {
        margin: 75px;
    }

    .forecast_img {
        display: block;
        width: 60%;
        margin: 25px auto 90px auto;
    }

    .flood_img {
        display: block;
        width: 70%;
        margin: 0 auto;
        padding-bottom: 30px;
    }

    footer {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding: 10px 0 25px 0;
    }


    .map_img {
        width: 50%;
        margin: 0 auto;
    }

    .contact_info {
        text-align: center;
        margin: auto;
    }

    .social_media img {
        width: 15%;
        margin-left: 30px;
    }

    .social_media {
        margin: 30px 0 0 50px;
    }

    #navigation a:hover {
        transform: scale(1.5);
        transition: transform .6s ease;
        border-radius: 15px;
    }

}
